@use '../base/vars'as *;
@use '../base/mixins'as *;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

html {
  font-size: 62.5%;
}

header h1 {
  font-family: $font_bold;
  font-size: 2rem;
  position: absolute;
  top: 1px;
  margin: 30px;
  color: white;
}

header h2 {
  font-family: $font_bold;
  font-size: 1.5rem;
  position: absolute;
  top: 95px;
  margin: 30px;
  color: white;
}

.column {
  h2 {
    font-size: 2rem;
    font-family: $font_bold;
    margin-top: 50px;
  }

  h3 {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
}

span.bold {
  font-family: $font_bold;
}

.logo {
  width: 40%;
  position: relative;
  display: block;
  left: 55%;
}

.column h1 {
  color: white;
  padding: 10px;
}

.section-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.section-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  #column1 {
    grid-row: 2;
  }

  @include medium {
    grid-template-columns: 1fr 1fr;

    #column1 {
      grid-row: 1;
    }
  }
}

.column {
  padding: 0 50px;

  h1 {
    font-size: 2rem;
    margin-left: -30px;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 2rem;
  }
}

body>main>section.section-wrapper>div:nth-child(2)>p:nth-child(1) {
  margin-top: 0;
}

#column1 {
  background-image: url("static/imgs/pic1.jpg");
  background-size: cover;
  background-position: right;
  margin: 0;
  height: 500px;

  @include medium {
    height: 100%;
  }
}

#column2 {
  background-image: url("static/imgs/pic2.jpg");
  background-size: cover;
  background-position: 30%;
  margin: 0;
  height: 500px;

  @include medium {
    height: 100%;
  }
}

ul {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 0;
}

.column img {
  max-width: 100%;
  max-height: 100%;
}

.column2 {
  margin: 10px;
}

.column2 h1 {
  position: relative;
  text-align: center;
}

.column2 img {
  filter: grayscale(100%);
  max-width: 100%;
  max-height: 100%;
}

hr {
  width: 410%;
  border: 1px solid black;
}

/*/GRID/*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;

}

.grid-container {
  h3 {
    border-bottom: 3px solid;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  div {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }

  .item9,
  .item8 {
    border-bottom: none;
  }


}

li {
  margin-left: 20px;
  font-size: 1.8rem;
  font-family: $font_regular;
  line-height: 1.4;
}

.item4 {
  grid-column: 1;
}

.item3 {
  grid-column: 1/3;
}




.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  text-align: center;
}

.format p {
  text-align: center;
  font-size: 1rem;
  position: relative;
  left: 10px;
  top: 3px;
}

/*/ FAVICONER /*/

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: white;
}

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}