@use '../base/vars'as *;
@use '../base/mixins'as *;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

html {
  font-size: 62.5%;
}

.splash {
  background-image: url("static/imgs/workingtwo.jpg");
  filter: grayscale(100%);
  height: 100vh;
  background-size: cover;
  background-position: left;
}

.overskrift {
  padding: 10px;
  top: 115px;
  padding: 50px;

  @include tablet {
    position: absolute;
  }
}

header h1 {
  font-family: $font_bold;
  color: black;
  font-size: 4rem;
  margin: 0;
}

header h2 {
  font-family: $font_regular;
  color: black;
  font-size: 1.9rem;
  margin: 0;
}

.column {
  h2 {
    font-size: 2rem;
    font-family: $font_bold;
    margin-top: 50px;
  }

  h3 {
    font-size: 1.6rem;
  }
}

img {
  width: 100%;
}

span.bold {
  font-family: $font_bold;
}

.logo {
  width: 30%;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.column h1 {
  color: white;
  padding: 10px;
}

.section-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.section-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  #column1 {
    grid-row: 2;
  }

  #column1 p {
    color: white;
    font-size: 1.5rem;
    font-family: $font_regular;
    line-height: 1.2;
  }

  @include medium {
    grid-template-columns: 1fr 1fr;

    #column1 {
      grid-row: 1;
    }
  }
}

.column {
  padding: 0 50px 40px 50px;

  h1 {
    font-size: 2rem;
    margin-left: -10px;
    margin-top: 40px;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    margin-bottom: 5px;
    font-size: 2rem;
  }
}

body>main>section.section-wrapper>div:nth-child(2)>p:nth-child(1) {
  margin-top: 50px;
}

body>main>section:nth-child(1)>div:nth-child(2)>p:nth-child(6) {
  margin-top: 0;
}

#column1 {
  background-image: url("static/imgs/pic1.jpg");
  background-size: cover;
  background-position: right;
  margin: 0;
  height: 500px;

  @include medium {
    height: 100%;
  }
}

#column2 {
  background-image: url("static/imgs/pic2.jpg");
  background-size: cover;
  background-position: 30%;
  margin: 0;
  height: 500px;

  @include medium {
    height: 100%;
  }
}

ul {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 0;
}

.column img {
  max-width: 100%;
  max-height: 100%;
}

.column2 {
  margin: 10px;
}

.column2 h1 {
  position: relative;
  text-align: center;
}

.column2 img {
  filter: grayscale(100%);
  max-width: 100%;
  max-height: 100%;
}

hr {
  width: 410%;
  border: 1px solid black;
}

/*/GRID/*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container {


  h3 {
    border-bottom: 3px solid;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1.2rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  h4 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  div {
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }

  .item9,
  .item8 {
    border-bottom: none;
  }
}

li {
  margin-left: 20px;
  font-size: 1.8rem;
  font-family: $font_regular;
  line-height: 1.4;
}

.item4 {
  grid-column: 1;
}

.item3 {
  grid-column: 1/3;
}

.footer {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.format p {
  text-align: center;
  font-size: 1.8rem;
  position: relative;
}




/*/ FAVICONER /*/

.fa {
  padding: 5px;

  width: 50px;
  text-align: center;
  text-decoration: none;
}

.icon {
  a {
    font-size: 3rem;
  }
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: white;
}

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

#signup_asset {
  background-color: white;
  width: 100vw;
  overflow-y: scroll;

  #form_container {
    @include tablet {
      width: 60%;
    }

    max-width: none;

    h2,
    p {
      max-width: 500px;
    }

    form {
      div {
        @include desktop {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 30px;
        }



        div {
          display: block;
        }
      }

      .submit_container {
        display: flex;
      }
    }

    .asset_hide {
      display: none;
    }
  }
}

.asset_cta {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 20px 0;
}

.asset_cta:visited {
  color: white;
}