@use '../base/vars'as *;
@use '../base/mixins'as *;

body {
    background-color: $primary-color;
}

h1 {
    font-family: $font_bold;
    color: red;
}

h2 {
    font-size: 3rem;
    font-family: $font_bold;
}

p,
a {
    font-size: 1.8rem;
    font-family: $font_regular;
}


main {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }


    #hero {
        background-image: url("static/imgs/landing.jpg");
        background-size: cover;
        width: 100%;
        height: 500px;
        background-position: 50%;

        .logo {
            width: 200px;
            margin: 30px;
        }

        @include desktop {
            width: 70%;
            height: calc(var(--vh, 1vh) * 100);
        }
    }

    #form_container {
        padding: 50px;
        max-width: 500px;
        margin: 0 auto;


        h2 {
            margin-top: 0;
        }

        @include desktop {
            width: 30%;
            height: calc(var(--vh, 1vh) * 100);
            overflow-y: scroll;
        }

        #access_btn {
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            outline: none;
            font-size: 1.8rem;
            font-family: $font_regular;
            padding: 0;
            cursor: pointer;
            color: $link;
            text-decoration: underline;
        }


        form {
            margin-top: 50px;

            input:not([type="checkbox"]),
            select {
                display: block;
                width: 100%;
                padding: 10px;
            }

            label {
                display: inline-block;
                margin-bottom: 5px;
                font-family: $font_regular;
            }

            #consent_label {
                display: inline;
            }

            input,
            select {
                margin-bottom: 30px;
                font-family: $font_regular;
                font-size: 1.5rem;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: 1px solid black;
                border-radius: 2px;
            }

            input[type=checkbox] {
                margin-bottom: 0;
                cursor: pointer;
                -webkit-appearance: checkbox;
                -moz-appearance: checkbox;
            }

            select {
                height: 40px;
                cursor: pointer;
                background-color: transparent;
            }

            button[type=submit] {
                margin-top: 30px;
                padding: 20px;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color: $secondary-color;
                color: $primary-color;
                border: none;
                cursor: pointer;
                border-radius: 2px;
                font-family: $font_bold;
                font-size: 1.6rem;
            }

            #back_btn {
                -webkit-appearance: none;
                -moz-appearance: none;
                background-color: transparent;
                padding: 0;
                margin: 0;
                color: $link;
                border: none;
                margin-top: 10px;
                text-decoration: underline;
                cursor: pointer;
            }

            button {
                display: block;

            }
        }
    }

    .hide {
        display: none;
    }
}