$primary-color: white;
$secondary-color: black;
$highlight: #00C9FF;
$link: #00C9FF;

$tablet: 500px;
$desktop: 800px;

$font_bold: 'WalsheimBold',
sans-serif;
$font_regular: 'WalsheimRegular',
sans-serif;

* {
    --vh: 1vh;
}

@font-face {
    font-family: 'WalsheimBold';
    src: url('./partials/base/fonte/GT-Walsheim-Pro-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'WalsheimRegular';
    src: url('./partials/base/fonte/GT-Walsheim-Pro-Regular.woff2') format('woff2')
}